body,html{
    margin: 0;
    height: 100%;
    background: linear-gradient(90deg, #0d47a1, #1565c0, #29b6f6, #00e5ff, #1565c0, #0d47a1);
    background-size: 300% 300%;
    animation: gradientBackground 15s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}